#page
{
  background: #16222A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/**
 * Profile image component
 */

.profile-pic
{
  position: relative;
  display: block;
  height: 145px;
  width: 145px;
  margin-left: auto;
  margin-right: auto;
}

#img
{
  margin-top: 10px;
}

.profile-header-container{
    margin: 50px auto;
    text-align: center;
}


.profile-header-img > .profile-pic > a > img.rounded-circle 
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 2px solid #54b4e5;
    background-position: 50% 50%;
    background-repeat: no-repeat;  
  
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.bottom
{
  opacity: 0;
}


.profile-header {
    margin-top: 43px;
}

/**
 * User badge component
 */
.user-label-container 
{
    
    text-align: center;
    font-weight: normal;
}

/**
 * Ranking component
 */
.rank-label-container {
    position: relative;
    margin-top: -10px;
    text-align: center;
}

.label.label-default.rank-label {
    background-color: #54b4e5;
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}

/*User panel*/
#user_panel .card-header
{
  text-align: center;
  background-color: #54b4e5;
  border-radius: 0px;
}

#user_panel
{
  border: 4px solid #54b4e5;
}

.us_elements
{
  margin: 0 auto;
 
  
}

.card-body
{
  padding: 1.35rem 1px 1.35rem 1px;
}



