#page
{
 /* background-image: url("../img/news_bg.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 300px;
  max-width: 2400px;
  margin: 0 auto;
}

.jumbotron
{

  background-position: 50% 50%;
  background-repeat: no-repeat;  
  background-size: cover;
  color: white;
  margin: 0;
  height: -webkit-fill-available;
}

.my-4
{
 background-color: white; 
}
.main-cont
{
  max-width: 85%;
  margin-top: -200px;
  
}