body
{
background: #1c1005; /* Old browsers */
background: -moz-linear-gradient(left, #1c1005 0%, #300909 50%, #1c1005 100%, #1c1005 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #1c1005 0%,#300909 50%,#1c1005 100%,#1c1005 100%); /* Chrome10-25,Safari5.1-6 */

}

.space-sm
{
 height: 17px; 
}

.space-md
{
  height: 50px;
}

.space-lg
{
  height: 100px;
}
.navbar
{
  max-width: 2400px;
  margin: 0 auto;
}
.dropdown .dropdown-menu .dropdown-item:hover 
{
  background-color: #343a40;
  border-radius: 5px;
  -webkit-transition: all .1s linear;
  transition: all .3s linear;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.navbar .dropdown-menu 
{
  padding: 6px;
}

.top-navbar
{
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: transparent;

}

.fixed-navbar
{
   -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(52, 58, 64);
}

#MyAccountDD
{
  margin-right: 10px;
}

.main-cont
{
    max-width: 96%;
    margin: 0 auto;
}

