#page
{
  background-image: url("../img/news_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 300px;
  max-width: 2400px;
  margin: 0 auto;
}

.main
{
  margin-left: 0px!important;
  margin-right: 0px!important;
}
.right
{
  margin-right: 0px!important;
  
}

.sec-panel
{
  padding: 0px;
  margin-bottom: 8px;
}
.card-deck
{
  margin-left: 0px;
  margin-right: 0px;
}

.card
{
  border: 1px solid #000 !important;
  border-radius: .1rem!important;
  background-color: #000;
}

.card:hover
{
  border: 1px solid #CF7D02!important;
  border-radius: .1rem!important;
} 

.card-img-overlay
{
  background-color: rgba(29, 26, 26, 0.5);
  max-height: 45%;
  top: unset;
  padding: 5px;
}

@media only screen and (max-width: 1336px) 
{ 
    .sec-panel .card-img-overlay p
  {
    font-size: 0.8rem;
  }
    .sec-panel .card-img-overlay h5
  {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1336px) 
{ 
  .sec-panel
  {
    min-width: 32%;
  }
  

}

@media only screen and (min-width: 1000px) and (max-width: 1335px)
{ 
  .sec-panel
  {
    min-width: 31%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 999px)
{ 
  .main
  {
    min-width: 100%!important;
  }
  .right-cont
  {
    min-width: 100%!important;
  }
  .right
  {
    min-width: 45%!important;
  }
  .sec-panel
  {
    min-width: 45%;
  }
}


@media only screen and (max-width: 999px) 
{ 
     .right
    {
      margin-left: 0px!important;
      margin-right: 0px!important;
    }
  
    .main
   {
    margin-bottom: 15px!important;
   }
  .space-sm
  {
    height:15px;
  }
  

}


@media (min-width: 1000px)
{
  .card-deck .card 
  {
   margin-bottom: -1px!important;
  }
  
}

@media only screen and (max-width: 575px) 
{
  .space-sm
  {
    height: 0px;
  }
}


